body {
    font-family: 'Crimson Text', serif;
    background-color: rgba(174, 174, 174, 0.701);
}

p {
    margin: 1.5rem 1rem;
    border-bottom: solid;
    line-height: 150%;
}

h3 {
    padding-left: 2rem;
}

h4 {
    padding-left: 2.5rem;
}

h1, h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}